$dark-slate-blue: #24205d;
$white: #fff;
$violet: #b87aff;
$darken-violet:#d757ff;
$heavy-violet: #f03aff;
$violet-pink: #f436ff;
$really-light-blue: #d0fcff;
$duck-egg-blue: #caf3f5;
$duck-egg-blue-two: #caf3f6;
$dark-sky-blue: #229deb;
$sky-blue: #70ccfe;
$dark-blue-grey: #171542;
$light-teal: #96e2e7;
$dark-blue-grey-two: #201c52;
$dark-indigo: #0f0d32;
$hot-purple: #e103e2;
$dark-blue-grey-three: #191741;
$light-blue:#4ff3fe;
$light-blue-two:#97e2e7;
$button-pink: #ae86fe;
$button-blue: #59e9fe;
$song-name: #6861ca;
$periwinkle-blue: #a095fe;